@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-size: 3vw;
    font-family: "Roboto Slab", serif;
    padding-left: 6vw;
    padding-top: 4vw;
}

.kameraman {
    margin-left: 70vw;
    margin-top: -50vw;
    margin-bottom: 4vw;
    width: 20vw;
    height: 20vw;
}

.text-1 {
    font-family: "Roboto", sans-serif;
    width: 50vw;
    font-size: 1.6vw;
    padding-left: 6vw;
    margin-top: 3vw;
}

.text-2 {
    font-family: "Roboto", sans-serif;
    width: 58vw;
    font-size: 1.6vw;
    padding-left: 6vw;
    margin-top: 2vw;
}

.rejissor {
    margin-top: 4vw;
    padding-left: 6vw;

}

.heading {
    margin-top: 8vw;
    font-size: 1.5vw;
    margin-left: 8vw;
}

.footer-text-1 {
    font-size: 1.2vw;
    margin-top: 1vw;
    width: 10vw;
    margin-left: 8vw;
}

.footer-text-2 {
    font-size: 1.2vw;
    margin-top: 1vw;
    width: 10vw;
    margin-left: 8vw;
}

.footer-text-3 {
    font-size: 1.2vw;
    margin-top: 1vw;
    width: 10vw;
    margin-left: 8vw;
}

.footer {
    font-family: "Roboto", sans-serif;
    display: flex;
}

@media screen and (min-width: 831px) and (max-width: 1400px) {
    .rejissor {
        display: none;
    }
    .heading{
        margin-top: 4vw;
    }
}
@media screen and (min-width: 375px) and (max-width: 830px) {
       .rejissor {
        display: none;
    }
    header{
        margin-top: 6vw;
        font-size: 6vw;
    }
    .kameraman{
        margin-top: 8vw;
        margin-left: 30vw;
        height: 36vw;
        width: 36vw;
    }
     .text-1 {
        width: 80vw;
        font-size: 3vw;
    }

    .text-2 {
        width: 85vw;
        font-size: 3vw;
        margin-top: 3vw;
    }
    .heading {
        font-size: 2.5vw;
    }

    .footer-text-1 {
        font-size: 2vw;
        width: 18vw;
    }

    .footer-text-2 {
        font-size: 2vw;
        width: 16vw;
    }

    .footer-text-3 {
        font-size: 2vw;
        width: 16vw;
    }
    .part-m3{
        margin-top: 15vw;
        margin-left: -50vw;
        margin-bottom: 15vw;
    }
}